<h1>Todos os artigos <%= Article.count%></h1>
<ul>
  <% @articles.each do |article| %>
    <li class="article__title"> <%= article.slug %> 
      <ul><li> <%= article.body %> </li></ul>
    </li>
  <% end %>
</ul>