input:focus,
textarea:focus {
  outline: none;
}

.input-form{
  width: 100%;
  border: none;
  margin: 5px 0;
  border-left: 1px solid #ddd;
  padding-left: 15px;
}

.input-title{
  font-size: 26px;
  font-weight: 600;
}

.input-body{
  height: 80vh;
}

.publish-button{
  position: absolute;
  top: 17px;
  right: 14%;
  background: transparent;
  border: 2px solid;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
}